################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleTemplates/packages
/SampleTemplates/SampleBrowser/obj/Debug
/SampleTemplates/SampleBrowser/bin/Debug
/SampleTemplates/IG_WPF_Library/bin/Debug
/SampleTemplates/IG_WPF_Library/obj/Debug
/SampleTemplates/.vs/SampleTemplates/v14
