<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.Controls.Charts.XamDataChart" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.Controls.Grids.XamGrid" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.Controls.Grids.XamPivotGrid" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.Controls.Menus.XamDataTree" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.Controls.Menus.XamMenu" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.DataManager" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.DataPresenter" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.DataVisualization" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.DragDrop" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.Editors" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.Olap" version="17.1.20171.2073" targetFramework="net452" />
  <package id="Infragistics.WPF.Olap.FlatData" version="17.1.20171.2073" targetFramework="net452" />
</packages>